# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
out/

# IDE/Editor specific
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
bower_components/

.history

*.ignore.*

ignore

*.env

# Ignore test-related files
/coverage.data
/coverage/